.interface-button {
  display: inline-block;
  width: 110px;
  height: 97px;
  padding: 5px 15px;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 8px;
  letter-spacing: 1px;
  color: #8d8d8d;
  background-color: transparent;
  border-top: 3px solid #b1b1b1;
  border-left: 3px solid #b1b1b1;
  border-right: 3px solid #b1b1b1;
  box-shadow: 0 6px #b1b1b1;
}

.interface-disabled {
  display: inline-block;
  width: 90px;
  height: 77px;
  padding: 5px 15px;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 8px;
  letter-spacing: 1px;
  color: #bdbdbd;
  background-color: transparent;
  border-top: 3px solid #bdbdbd;
  border-left: 3px solid #bdbdbd;
  border-right: 3px solid #bdbdbd;
  box-shadow: 0 3px #bdbdbd;
}

.interface-disabled:active {
  box-shadow: 0 3px #bdbdbd !important;
}

.bi-stop-fill {
  font-size: 2.5rem;
  color: rgb(201, 37, 37);
}

.bi-play-fill {
  font-size: 3.5rem;
  margin-left: 6px;
}

.interface-blue:hover {
  background-color: #3cbdfd;
}

.interface-blue:active {
  background-color: #1caff6;
  box-shadow: 0 3px #1899d6;
}

.interface-blue {
  background-color: #1cb0f6;
  box-shadow: 0 9px #1899d6;
  color: rgb(255, 255, 255);
  border: none;
}

@media (max-width: 575px) {
  .interface-button {
    width: 70px; /* whatever width you want for mobile screen */
    max-width: 100%;
    max-height: 100%;
    height: 70px; /* whatever height you want for mobile screen */
    font-size: 1rem;
  }
  .bi-stop-fill,
  .bi-play-fill {
    font-size: 3rem;
    margin-left: 4px;
  }
}

@media (max-width: 775px) {
  .interface-button {
    width: 80px;
    max-width: 100%;
    max-height: 100%;
    height: 70px;
    font-size: 1.2rem;
  }
  .bi-stop-fill,
  .bi-play-fill {
    font-size: 3rem;
    margin-left: 4px;
  }
}
