.form-radio input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio {
  display: inline-block;
  margin: 1rem;
  margin-bottom: 0.1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 8px;
  letter-spacing: 1px;
  width: 130px;
  min-width: 3rem;
}

.wide {
  width: 100%;
}

.transparent {
  color: #8b8b8b;
  background-color: transparent;
  border-top: 3px solid #b1b1b1;
  border-left: 3px solid #b1b1b1;
  border-right: 3px solid #b1b1b1;
  box-shadow: 0 6px #b1b1b1;
}

.transparent:active {
  background-color: transparent;
  box-shadow: 0 3px #b1b1b1;
  transform: translateY(6px);
}

.darkblue:active {
  background-color: transparent;
  box-shadow: 0 3px #476fa6;
  transform: translateY(6px);
}

.darkblue {
  background-color: transparent;
  box-shadow: 0 9px #476fa6;
  color: #476fa6;
  border-top: 3px solid #476fa6;
  border-left: 3px solid #476fa6;
  border-right: 3px solid #476fa6;
  box-shadow: 0 6px #476fa6;
}

.darkred {
  background-color: transparent;
  box-shadow: 0 9px #c74b34;
  color: #c74b34;
  border-top: 3px solid #c74b34;
  border-left: 3px solid #c74b34;
  border-right: 3px solid #c74b34;
  box-shadow: 0 6px #c74b34;
}

.darkred:active {
  background-color: transparent;
  box-shadow: 0 3px #c74b34;
  transform: translateY(6px);
}

.form-radio input:checked ~ .transparent {
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transform: translateY(6px);
  box-shadow: 0 3px #b1b1b1;
  color: rgb(255, 255, 255);
  background-color: #d6d6d6;
  font-weight: 900;
}
.form-radio input:not(:checked) ~ .transparent {
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  background-color: transparent;
}

.form-radio input:checked ~ .darkblue {
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transform: translateY(6px);
  box-shadow: 0 3px #476fa6;
  color: rgb(255, 255, 255);
  background-color: #476fa6;
  font-weight: 900;
}
.form-radio input:not(:checked) ~ .darkblue {
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  background-color: transparent;
}

.form-radio input:checked ~ .darkred {
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transform: translateY(6px);
  box-shadow: 0 3px #c74b34;
  color: rgb(255, 255, 255);
  background-color: #c74b34;
  font-weight: 900;
}

.form-radio input:not(:checked) ~ .darkred {
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  background-color: transparent;
}

@media only screen and (max-width: 775px) {
  .radio {
    width: 90px;
    height: 40px;
    font-size: 1.2rem;
    padding-top: 0.2rem;
  }
}

@media only screen and (max-width: 400px) {
  .radio {
    font-size: 1rem;
    padding: 5px 10px;
    width: 80px;
  }
}
